</div>
<style>
  a {
   color: #bbbbbb;
  }
  
  body{
    background-image: url("{{ site.bakgrunn }}");
    background-color: black;
    color:#bbbbbb; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
  }
  
  #content-box {
    padding: 20px 50px 20px 50px;
    background-color:rgba(0, 0, 0, 0.7);
    
   }
  


  #fagbilde{
    height:200px;
    width:200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    transition: transform .2s;
  }
  
  #fagbilde:hover{
      transform: scale(1.1);
   }
  
.fagtittler{
     text-align:center;
  }

 #fagtittel{
  font-size:32px;
  font-weight:700;
  color:#fabd2f;
 
 }
 
 #fagundertittel{
  margin-top:-20px;
  font-size:16px;
  margin-bottom:60px;
 }


h2{
  color:#fabd2f;
  }
</style>


